.apple-notes-view {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--bg-primary);
}

.apple-notes-webview {
  flex: 1;
  width: 100%;
  height: 100%;
  border: none;
}
